.message-text {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    color: #000
}

.message-info {
    font-size: 1.2rem;
    color: #8f8f8f;
    font-style: italic
}

.btn-block {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around
}
